@model Post
<div class="content-section">
    @using (Html.BeginForm("EditPost", "Post", new { id = Model.PostId }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><h1>Article Post</h1></legend>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, "", new { @class = "form-control", @placeholder = "Title" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "badge badge-danger" })

            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, 1, 0, new { @class = "form-control", @placeholder = "Content" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "badge badge-danger" })

            <input type="submit" name="submit" class="btn btn-danger" value="Update" />
        </fieldset>
    }
</div>