@model BlogApplication.ViewModels.AuthUserViewModel


<div class="content-section">
    @using (Html.BeginForm("AuthUser", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset class="form-group">
            <legend class ="border-bottom mb-4"><h1>Log in</h1></legend>
            @Html.LabelFor(m => m.NormalizedUserName, "Username*")
            @Html.TextBoxFor(m => m.NormalizedUserName, "", new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.NormalizedUserName, "", new { @class = "badge badge-danger" })

            @Html.LabelFor(m => m.PasswordHash, "Password*")
            @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "badge badge-danger" })
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    }

    <div class="border-top pt-4">
        <small class="text-muted">
            Don't Have An Account? @Html.ActionLink("Sign Up", "Register", null, null, new { @class = "ml-1" })
        </small>
    </div>
</div>