@model BlogUser

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="User.">
        <div class="media-body">
            <h2 class="account-heading">@Model.NormalizedUserName</h2>
            <p class="text-secondary">@Model.NormalizedEmail</p>
            <p class="text-secondary">@Model.Bio</p>
            <p class="text-secondary">@Model.DateCreated</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post))
        {
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><h1>Profile Info</h1></legend>

            <label class="account-heading" for="uname">Username:</label>
            <input type="text" id="uname" name="uname"><br><br>
            @Html.LabelFor(m => m.NormalizedUserName)
            @Html.TextBoxFor(m => m.NormalizedUserName, "", new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.NormalizedUserName, "", new { @class = "badge badge-danger" })

            <label class="text-secondary" for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>
            @Html.LabelFor(m => m.NormalizedEmail)
            @Html.TextBoxFor(m => m.NormalizedEmail, "", new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.NormalizedEmail, "", new { @class = "badge badge-danger" })
            @if (ViewBag.error != null)
            {
                <span class="badge badge-danger">@ViewBag.error</span>
            }

            <label class="text-secondary" for="bio">Bio:</label>
            <input type="email" id="bio" name="bio"><br><br>
            @Html.LabelFor(m => m.Bio)
            @Html.TextBoxFor(m => m.Bio, "", new { @class = "form-control", @placeholder = "Bio" })
            @Html.ValidationMessageFor(m => m.Bio, "", new { @class = "badge badge-danger" })

            <button class="btn btn-outline-info" type="submit">Update Profile</button>
        </fieldset>
        }
    </form>
</div>
