@model SearchResultStatsModel

<div id="text-margin">
    <div id="stats-container">
        <span id="stat-container">
            <h1>Interest</h1>

                @{
                    if (Model.SearchPopularity.LowData)
                    {
                        <h4 class="text-muted">Hmmm, your search doesn't have much data; results may be slightly inaccurate.
                        Try a more general term.</h4>
                    }

                    if (Model.SearchPopularity.SimilarDifference)
                    {
                        <h3>The Interest for this topic hasn't changed much in the last month: </h3>
                    }

                    if (Model.SearchPopularity.PercentDifference > 0)
                    {
                        <h2>The popularity of this search term has increased by</h2> 
                        <h2 class="text-success">@(Model.SearchPopularity.PercentDifference)%</h2>
                    }

                    else
                    {
                        <h2>The popularity of this search term has declined by</h2> 
                        <h2 class="text-danger">@(Model.SearchPopularity.PercentDifference)%</h2>
                    }
                }

                <h2>A month ago,</h2>

                <h2>Redditors posted about this topic every 
                    @(Model.SearchPopularity.ResultFrequencyBefore) seconds.</h2>

                <h2>Now they post about this topic every 
                    @(Model.SearchPopularity.ResultFrequencyNow) seconds.</h2>

                <div class="graph">
                    <h2>A month before</h2>
                    <div style="width: @(Model.SearchPopularity.ResultFrequencyBefore)px;" class="bar"></div>
                    <h2>Now</h2>
                    <div style="width: @(Model.SearchPopularity.ResultFrequencyNow)px;" class="bar"></div>
                </div>
        </span>

        <span id="stat-container" style="width: 49.5%">
            <table>
                <tr>
                    <th class="stats-header">Related subreddits</th>
                </tr>

                @foreach (var pair in @Model.CommonResultSubreddits)
                {
                    <tr class="stats-row">
                        <td class="stats-data">@pair.Key</td>
                        <td class="stats-data">@(pair.Value)%</td>
                    </tr>
                }

            </table>
        </span>
    </div>
</div>


<style>

table {
    display:inline-table;
    width: 100%;
}

.stats-data {
  padding: 12px
}

.stats-header {
	text-align: left;
    font-size: 29px;
    padding-bottom: 7px;
}

.stats-row:nth-child(even) {
  background-color: #FF8E64;
  
}

#stats-container {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12);
    border-radius: 6px;
    border: 0.001px solid black;
    padding: 4px;
}

#stat-container {
    height: 500px;
    overflow: auto;
    display: inline-block;
    width: 50%;
}

.graph {
    width: 500px;
    height: 119px;
    background-color: #eaeaea;
}
.bar {
    height: 57px;
    margin: 1px;
    display: block;
    position: relative;
    background-color: #FF8E64;
    vertical-align: baseline;
}

</style>