@model SubredditStatsModel

@{
    <div>
    <table style="width:100%">
    <tr>
        <th>Websites mentioned</th>
    </tr>

    @foreach (var pair in @Model.ForeignWebsites)
    {
        <tr>
            <td>@pair.Key</td>
            <td>@(pair.Value)%</td>   
        </tr>
    }

    </table>

    <table style="width:100%">
    <tr>
        <th>Related subreddits</th>
    </tr>

    @foreach (var pair in @Model.RelatedSubreddits)
    {
        <tr>
            <td>@pair.Key</td>
            <td>@(pair.Value)%</td>   
        </tr>
    }

    </table>
    </div>
}

<style>

td {
  padding: 12px
}

th {
	text-align: left;
    font-size: 29px;
    padding-bottom: 7px;
}

tr:nth-child(even) {
  background-color: #FF8E64;
  
}

div {
	background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    border: 0.001px solid black;
    padding: 4px;
}

</style>