@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SubredditStatsModel
<!DOCTYPE html>
<html>
<style>
td {

  padding: 12px
}

th {
	text-align: left;
    font-size: 29px;
    padding-bottom: 7px;
}

tr:nth-child(even) {
  background-color: #FF8E64;
  
}

div {
	background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    border: 0.001px solid black;
    padding: 4px;
}

body {
	background-color: #F7F7F7;
}
</style>

@{
    <table style="width:100%">
    <tr>
        <th>Company</th>
    </tr>
    @foreach (var pair in @Model.ForeignWebsites)
    {
        <tr>
            <td>@pair.Key</td>
            <td>@(pair.Value)%</td>   
        </tr>
    }
    </table>

    <table style="width:100%">
    <tr>
        <th>Company</th>
    </tr>
    @foreach (var pair in @Model.RelatedSubreddits)
    {
        <tr>
            <td>@pair.Key</td>
            <td>@(pair.Value)%</td>   
        </tr>
    }
    </table>
}

<body>


<h2>A basic HTML table</h2>

<div>
<table style="width:100%">
  <tr>
    <th>Company</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>33%</td>   
  </tr>
  <tr>
    <td>Grif</td>
    <td>11%</td>
  </tr>
  <tr>
    <td>Peter</td>
    <td>3%</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td>1%</td>
  </tr>
</table>
</div>
<p>To understand the example better, we have added borders to the table.</p>

</body>
</html>

