@model SubredditStatsModel


<div id="stats-container">
    <table style="width:49.5%">
        <tr>
            <th class="stats-header">Websites mentioned</th>
        </tr>

        
        @if (!@Model.ForeignWebsites.ContainsKey("No Websites"))
        {
            @foreach (var pair in @Model.ForeignWebsites)
            {
                <tr class="stats-row">
                    <td class="stats-data">@pair.Key</td>
                    <td class="stats-data">@(pair.Value)%</td>   
                </tr>
            }
        }

        @if (@Model.ForeignWebsites.ContainsKey("No Websites"))
        {
            <h1>No websites mentioned in subreddit.</h1>
        }
        

    </table>

    <table style="width:50%">
        <tr>
            <th class="stats-header">Related subreddits</th>
        </tr>

        @foreach (var pair in @Model.RelatedSubreddits)
        {
            <tr class="stats-row">
                <td class="stats-data">@pair.Key</td>
                <td class="stats-data">@(pair.Value)%</td>   
            </tr>
        }

    </table>
</div>


<style>

table {
    display:inline-table
}

.stats-data {
  padding: 12px
}

.stats-header {
	text-align: left;
    font-size: 29px;
    padding-bottom: 7px;
}

.stats-row:nth-child(even) {
  background-color: #FF8E64;
  
}

#stats-container {
	background-color: #FC1810;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12);
    border-radius: 6px;
    border: 0.001px solid black;
    padding: 4px;
}

</style>