@model GlanceReddit.ViewModels.HomeViewModel

<h2 class="text-danger msg text-margin">@Model.ErrorMessage</h2>

<h2 class="text-success fade-in msg text-margin">@Model.SuccessMessage</h2>

<div class="home-container">
    <div class="home-col">

        <div class="title-container text-margin" style="border-bottom: 5px solid #242424">
            <h1 class="title-container-text">Analyze Reddit to guage your audience.</h1>
        </div>

        @if (Model.IsAuth)
        {
            <div id="search-box-container" class="text-margin">
                <div style="margin-bottom: 1rem;">
                    @using (Html.BeginForm("SearchResult", "Api", FormMethod.Get, new { @autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        <input id="search-id" name="searchBar" type="text" placeholder="Search All Posts" class="form-control-lg" />
                    }
                </div>

                <div>
                    @using (Html.BeginForm("ApiRequest", "Api", FormMethod.Post, new { @autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.TextBoxFor(m => m.SubredditName, "", new { @class = "form-control-lg", @id = "search-id", 
                            @name = "searchBar", @type = "text", @placeholder = "Search for a Subreddit" 
                        })
                    }
                </div>
            </div>
        }

        else
        {
            <div id="home-btn" class="login-btn btn text-margin">
                <a href="@Model.RedditUrl" style="color: white; font-size: x-large;">Login with Reddit</a>
            </div>
        }

    </div>
</div>

<div id="info-background">
    <div id="info-container" class="text-margin">
        <div id="feature-container">
            <h2 style="margin-bottom: 30px">Features</h2>
            <ul id="feature-list">
                <li>See related subreddits to a group of people</li>
                <li>Observe the websites they mention</li>
                <li>Access search term analytics</li>
                <li>Investigate what subreddits mention a search term often</li>
                <li>and more.</li>
            </ul>
        </div>

        <div id="feature-container">
            <h2 style="margin-bottom: 30px">Privacy</h2>
            <ul id="feature-list">
                <li><h4>No data from Reddit is stored on this website's servers.</h4></li>
                <li><h4>No username or password needed.</h4></li>
            </ul>
        </div>
    </div>
</div>

