@model GlanceReddit.ViewModels.UserViewModel

<div class="header-container bg-secondary">
    <h1 class="post-index-header" style="color: white">@Model.User.Name</h1>
    <hr />

    @{
        if (Model.User.IsFriend)
        {
            <h2 class="index-list-item">Looks like this user is your friend.</h2>
        }

        if (Model.User.IsVerified)
        {
            <h2 class="index-list-item">Looks like this user is verified.</h2>
        }
    }

    <ul>
        <li class="index-list-item">Karma from posts: @Model.User.LinkKarma</li>
        <li class="index-list-item">Karma from comments: @Model.User.CommentKarma</li>
    </ul>
</div>


<div class="header-container bg-secondary">
    <h2 class="post-index-header" style="color: white">15 New Posts: (if they exist)</h2>
</div>

@Html.Partial("/Views/Api/_DisplayPost.cshtml", Model.TcPostArr)

<div class="header-container bg-secondary">
    <h2 class="post-index-header" style="color: white">15  New Comments: (if they exist)</h2>
</div>

@Html.Partial("/Views/Api/_DisplayComment.cshtml", Model.TcComArr)
    
