@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@model GlanceReddit.ViewModels.SearchResultViewModel

@{
    if (Model.QueryList.Count != 0)
    {
        <div class="header-container">
            <h2 class="post-index-header" style="color: white">Search Results</h2>
            <hr>
            <h4 style="color: white">Page @Model.QueryList.PageNumber</h4>

            <h2>Interest</h2>

            @{
                if (Model.StatsModel.SearchPopularity.SimilarDifference)
                {
                    <p class="text-primary">The Interest for this topic hasn't changed much in the last month: </p>
                }

                if (@Model.StatsModel.SearchPopularity.PercentDifference < 0)
                {
                    <p>The popularity of this search term has increased by</p> 
                    <p class="text-success">@(Model.StatsModel.SearchPopularity.PercentDifference)%</p>
                }

                else
                {
                    <p>The popularity of this search term has declined by</p> 
                    <p class="text-danger">@(Model.StatsModel.SearchPopularity.PercentDifference)%</p>
                }
            }

            <h1>Related Subreddits</h1>
            @foreach (var pair in @Model.StatsModel.CommonResultSubreddits)
            {
                <li class="index-list-item">@pair.Key</li>
                <li class="index-list-item">@pair.Value</li>
            }
        </div>
        @Html.Partial("/Views/Api/_DisplayPost.cshtml", Model.QueryList.ToArray())
    }

    else
    {
        <div>
            <h1><b>No Search Results Found.</b></h1>
        </div>
    }  
}

@Html.PagedListPager(Model.QueryList, page => Url.Action("SearchResult",
    new { page, searchBar = Model.Query, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions { LiElementClasses = new string[] { "" }, PageClasses = new string[] { "btn btn-outline-info m-1 bg-light" } })