@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@model BlogApplication.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section NavbarRight {
    <div class="navbar-nav">
        @if (Model.AuthenticatedId != null)
        {
            @Html.ActionLink("Profile", "Profile", "Profile", null, new { @class = "nav-item nav-link" })
            @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-item nav-link" })
            @Html.ActionLink("New Post", "PostCreate", "Post", null, new { @class = "nav-item nav-link" })

        }
        else
        {
            @Html.ActionLink("Login", "Login", "User", null, new { @class = "nav-item nav-link" })
            @Html.ActionLink("Register", "Register", "User", null, new { @class = "nav-item nav-link" })
        }
    </div>
}


@foreach (var post in Model.PostList)
{
    <article class="media content-section">
        <!--<img class="rounded-circle article-img" src="post.UserID.profile.img.url">-->
        <div class="media-body">
            <div class="article-metadata">
                <p class="mr-2" style="display: inline">@post.User.NormalizedUserName</p>
                <small class="text-muted">@post.DatePosted.ToLongDateString()</small>
            </div>
            <div>
                <h2>
                    <a class="article-title" asp-area="" asp-controller="Post" asp-action="PostDetail"
                       asp-route-id="@post.PostId">@post.Title</a>
                </h2>
                <p style="max-height: 9ch" class="article-content">@post.Content</p>
            </div>
        </div>
    </article>
}

@Html.PagedListPager(Model.PostList, page => Url.Action("Home",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions { LiElementClasses = new string[] { "" }, PageClasses = new string[] { "btn btn-outline-info m-1" } });