@model SearchResultStatsModel

<div id="text-margin">
    <div id="stats-container">
        <span id="stat-container">
            <h1>Interest</h1>

                @{
                    if (Model.SearchPopularity.LowData)
                    {
                        <h4>Hmmm, your search doesn't have much data; results may be inaccurate.
                        Try a more general term.</h4>
                    }

                    if (Model.SearchPopularity.SimilarDifference)
                    {
                        <h3>The Interest for this topic hasn't changed much in the last month.</h3>
                    }

                    else if (Model.SearchPopularity.PercentDifference > 0)
                    {
                        <h3>The popularity of this search term has increased by 
                        <span class="text-success">@(Model.SearchPopularity.PercentDifference)%</span>
                        </h3> 
                    }

                    else
                    {
                        <h3>The popularity of this search term has decreased by 
                        <span class="text-success">@(Model.SearchPopularity.PercentDifference)%</span>
                        </h3>
                    }
                }

                <div class="graph">
                    <h2>A month before</h2>
                    <div style="width: @(Model.SearchPopularity.ReducedResultFrequencyBefore)px;" class="bar"></div>
                    <h2>Now</h2>
                    <div style="width: @(Model.SearchPopularity.ReducedResultFrequencyNow)px;" class="bar"></div>
                </div>

                <h3>Redditors searched this term every
                <b>@(Model.SearchPopularity.ResultFrequencyBefore)%</b>
                    second(s) a month ago.
                </h3> 

                <h3>Redditors search this term every
                <b>@(Model.SearchPopularity.ResultFrequencyNow)%</b>
                    second(s) now.
                </h3> 
        </span>

        <span id="stat-container" style="width: 49.5%">
            <table>
                <tr>
                    <th class="stats-header"><h1>Related subreddits</h1></th>
                </tr>

                @foreach (var pair in @Model.CommonResultSubreddits)
                {
                    <tr class="stats-row">
                        <td class="stats-data">@pair.Key</td>
                        <td class="stats-data">@(pair.Value)%</td>
                    </tr>
                }

            </table>
        </span>
    </div>
</div>


<style>



</style>