@model SubredditStatsModel


<div id="stats-container">
    <span id="stat-container">
        <table>
            <tr>
                <th class="stats-header">Websites mentioned</th>
            </tr>

        
            @if (!@Model.ForeignWebsites.ContainsKey("No Websites"))
            {
                @foreach (var pair in @Model.ForeignWebsites)
                {
                    <tr class="stats-row">
                        <td class="stats-data">@pair.Key</td>
                        <td class="stats-data">@(pair.Value)%</td>   
                    </tr>
                }
            }

            @if (@Model.ForeignWebsites.ContainsKey("No Websites"))
            {
                <h1>No websites mentioned in subreddit.</h1>
            }
        

        </table>
    </span>

    <span id="stat-container" style="width: 49.5%">
        <table>
            <tr>
                <th class="stats-header">Related subreddits</th>
            </tr>

            @foreach (var sub in @Model.RelatedSubreddits)
            {
                <tr class="stats-row">
                    <td class="stats-data">@sub</td>
                </tr>
            }

        </table>
    </span>
</div>


<style>

</style>